.portfolio {
    margin: 3rem;
    text-align: center;
    justify-content: center;
    display: flex;
    
    animation: fadeIn;
    animation-duration: 2s;
}

.portfolio h2 {
    margin-bottom: 3rem;
}