.resume {
    margin: 3rem;
    text-align: center;

    animation: fadeIn;
    animation-duration: 2s;
}

.skills, .employment {
    margin: 2rem ;
}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.card.skills-card {
    flex-direction: row;
    width: fit-content;
    background-color: #747474;
    margin-left: auto;
    margin-right: auto;
}

.card-body.skills-card-body {
    flex-direction: row;
    width: fit-content;
    background-color: #747474;
}

.card-text.skills-card-text {
    margin: 0.5rem 1rem;
    display: inline-block;
}

.card.employment-card {
    display: flex;
    margin: 1rem;
    background-color: #747474;
    text-align: left;
}

.employment-card img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    margin-top: 1rem;
    border: 3px solid #747474;
    border-radius: 5px;
}

.card-subtitle.title {
    margin-bottom: 0.4rem
}

.card-text.description {
    margin-top: 0.4rem;
}

.employer, .title, .duration {
    text-align: center;
}

.description {
    text-align: justify;
}

a .download {
    font-size: 2rem;
    color: #747474;
    transition: color 0.5s;
}

a .download:hover {
    color: #e9e8e8;
}



