.about {
    margin: 3rem;
}

.about h2{
    text-align: center;
}

.about img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}