.contact-container {
    margin-top: 3rem;
    position: relative;
    height: 100%;
    width: 100%;

    animation: fadeIn;
    animation-duration: 2s;
}

.contact-container h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.contact, .info {
    display: inline-flex;
    align-items: center;
}

.contact-form {
    width: 100%;
    justify-content: center;
}
.contact-form button {
    margin-top: 1rem;
}

.form-box label {
    display: block;
    width: fit-content;
    margin: 1rem 0 0 0;
    /* width: 25%; */
}

.form-box input, .form-box textarea {
    width: 100%;
}

.info {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .contact-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .contact-form {
        display: flex;
        justify-content: center;
    }

    .contact-form form {
        width: 100%;
    }

    form button {
        width: 100%
    }

    .info {
        margin-top: 1.5rem !important;
    }
}