@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  margin: 0;
  font-family: Varela-Round;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  background-color: #272f53;
  color: #e9e8e8;
}